*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/*Header*/

header {
    padding: 22px 0;
}

header .container {
    padding: 0 20px 0 32px;
}

header .container.d-flex {
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li a {
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
    text-decoration: none;
}

header nav ul li:last-child a {
    padding: 11px 20px;
    background: #1B1A1A;
    border-radius: 14px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.ui-widget.ui-widget-content {
    border: 1px solid black;
    font-family: 'Poppins';
    max-width: 310px;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #1b1a1a;
    color: #FFFFFF;
    font-weight: 400;
}

.ui-button:active {
    border: 1px solid #ffffff;
    background: #616161;
    font-weight: normal;
    color: #000000;
}

/*Wishbone Partners*/

.wishbone-partners {
    padding: 137px 0 128px;
    background: #ECE7E4;
    position: relative;
}

.wishbone-partners .container {
    max-width: 1240px;
}

.wishbone-partners h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-bottom: 20px;
}

.wishbone-partners h1 {
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin-bottom: 18px;
}

.wishbone-partners p {
    max-width: 509px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 41px;
}

.wishbone-partners a {
    text-decoration: none;
    margin-left: 25px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.wishbone-partners_image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url('../images/IMAGE.jpg');
    background-size: cover;
}

/*Our firm*/

.our-firm {
    padding: 100px 0 120px;
}

.our-firm .container {
    max-width: 768px;
}

.our-fimr__title h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.description-firm {
    max-width: 500px;
}

.description-firm p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 10px;
}


/*Reeding House*/

.reeding-house {
    min-height: 600px;
    background-image: url("../images/reeding-house.jpg");
    background-size: cover;
    display: flex;
    padding-right: 75px;
    justify-content: end;
    align-items: center;
}

.description {
    max-width: 285px;
}

.reeding-house .description h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.reeding-house .description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

/*Our Process*/

.our-process {
    padding: 100px 0;
}

.our-process .container {
    max-width: 1168px;
}

.our-process h3 {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.our-process h2 {
    text-align: center;
    font-size: 39px;
    line-height: 42px;
    margin-bottom: 47px;
}

.our-process article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 378px;
    padding: 0 42px;
}

.our-process article img {
    margin-bottom: 15px;
    max-width: 117px;
}

.our-process .owl-nav {
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.our-process .owl-carousel .owl-nav button.owl-next:before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f054";
}

.our-process .owl-carousel .owl-nav button.owl-prev:before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f054";
}

.our-process .owl-carousel .owl-nav button.owl-prev {
    transform: rotate(180deg);
}

.our-process article h3 {
    color: #403E3B;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
    text-transform: none;
}

.our-process article p {
    text-align: center;
    line-height: 24px;
    color: #645C55;
}

/*The marble staircase*/

.marble-staircase {
    min-height: 600px;
    background-image: url("../images/marble-staircase.jpg");
    background-size: cover;
    display: flex;
    padding-right: 75px;
    justify-content: end;
    align-items: center;
}

.description {
    max-width: 285px;
}

.marble-staircase .description h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.marble-staircase .description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}


/*Happy Customers*/

.happy-customers {
    padding: 60px 0;
    background: #403E3B;
}

.happy-customers .container {
    max-width: 1168px;
    padding-right: 144px;
}

.happy-customers .d-flex {
    align-items: center;
}

.happy-customers h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}

.happy-customers h2 {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.happy-customers p {
    max-width: 451px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}

.image-box {
    min-height: 290px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 351px;
    width: 100%;
}

/*The swirling staircase*/

.swirling-staircase {
    min-height: 600px;
    background-image: url("../images/swirling-staircase.jpg");
    background-size: cover;
    display: flex;
    padding-left: 60px;
    justify-content: start;
    align-items: center;
}

.description {
    max-width: 285px;
}

.swirling-staircase .description h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.swirling-staircase .description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

/*Featured projects*/

.projects {
    padding: 120px 0 100px;
    background: #F7F7F7;
}

.projects .container {
    max-width: 1168px;
}

.projects .d-flex{
    margin-bottom: 40px;
}

.projects h2 {
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}

.projects p {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 40px;
}

.projects article {
    max-width: 375px;
    position: relative;
    overflow: hidden;
}

.projects article:hover .describe{
    bottom: 0;
}

.projects article img {
    width: 100%;
}

.projects .describe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    bottom: -100%;
    transition: 0.5s;
}

.projects .describe h4  {
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    width: 100%;
}

.projects .describe h4 span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.projects .describe a {
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.link-to-projects {
    text-align: center;
}

.projects a{
    padding: 11px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

/*Our team*/

.our-team {
    padding: 100px 0 120px;
    background-color: #E5E5E5;;
}

.our-team .container {
    max-width: 1168px;
}

.wrapper {
    max-width: 378px;
    width: 100%;
}

.wrapper h2 {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.wrapper p {
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
}

.wrapper a {
    margin-left: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}


.inner {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    min-height: 100px;
}

.inner:last-child {
    margin-bottom: 0;
}

.inner img {
    margin-right: 30px;
}

.inner h4  {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

.inner p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

/*Get in touch*/

.get-in-touch {
    background: #CEC4BC;
    padding: 100px 0;
}

.get-in-touch .container {
    max-width: 1168px;
}

.get-in-touch .d-flex {
    align-items: center;
}

.get-in-touch div {
    max-width: 569px;
}

.get-in-touch div p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.get-in-touch div h3 {
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}

.get-in-touch div a {
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    margin-right: 20px;
}

/*Footer*/

footer {
    background: #F7F7F7;
    padding: 60px 0;
}

footer .container {
    max-width: 1168px;
}

footer .d-flex {
    align-items: flex-end;
}

footer div a {
    display: inline-block;
    margin-bottom: 20px
}

footer div p {
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    margin-bottom: 0;
}

